*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.grid-index{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.header{
    background-color: white;
}

.main{
    background-color: white;
}

.social-media{
    background-color: black;
}