*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.grid-index{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template: 300px 1fr 250px / 300px 1fr 200px;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"
    ;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

header{
    grid-area: header;
    background-color: white;
    }

main{
    grid-area: main;
    background-color: white;
}

footer{
    grid-area: footer;
    background-color: black;
}