*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.grid-index{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 1fr 20px;
}

.header{
    background-color: white;
    }

.main{
    background-color: white;
}

.social-media{
    background-color: black;
}